{% extends 'layout.html' %}

{% block content %}

{% if len == 0 %}
  Nothing to show. <a href=/home> Home </a>
{% endif %}

{% if len == 10 %}
  {% for x in vals %}
    <div style="float: left; text-align: center">
      <img src=/public/uploads/{{ x['name'] }} style="width: 100px; height: 100px; margin: 10px" />
      <br/>
      {{ x['caption'] }}
    </div>
  {% endfor %}
{% endif %}

{% if page > 0 && len == 10 %}
  {% if page > 1 %}
    <a href=/photos/{{ page-1 }}>Previous</a>
  {% endif %}
    <a href=/photos/{{ page+1 }}>Next</a>
{% endif %}
    
{% endblock %}
